<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Sign up form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style></style>
    <link rel="stylesheet" href="css/combine.min.css" />
    <link rel="stylesheet" href="scss/index.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      @media only screen and (max-width: 420px) {
        .login_otp .col-md-4 #openButton {
          padding: 10px 9px !important;
          font-size: 13px !important;
          margin-left: 13px !important;
          white-space: nowrap;
        }
      }

      .box1 p,
      .box1 span {
        font-size: 15px !important;
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      input[type='number'] {
        -moz-appearance: textfield;
      }
      @media only screen and (max-width: 700px) {
        .middle_top ul li,
        .middle_top p,
        .middle_top span {
          font-size: 13px !important;
        }
        .middle_top .box1 .otp-sigin {
          font-size: 11px !important;
          width: 100%;
          text-align: center;
        }

        .otp-message,
        .box1 p,
        .box1 span {
          font-size: 14px !important;
        }
      }

      .careerfy-login-media {
        width: 100% !important;
        display: inline-block;
        text-align: center;
        margin: auto;
      }
      .careerfy-login-media li {
        float: none !important;
        width: 50%;
        list-style: none;
        padding: 0px 10px 15px 10px;
        line-height: 1;
        display: inherit;
      }
    </style>

    <meta
      name="facebook-domain-verification"
      content="fjgx0wg48d9999jjrkhgjw3qj0iuum"
    />
  </head>
  <body class="login">
    <div class="middle_top">
      <div class="Delivering_group Join_page">
        <div class="box1">
          <form id="password-form" method="post" role="form">
            <div class="messages error-message">
              hey this is testing
            </div>
            <div class="controls">
              <div class="row login_logo">
                <div class="col-md-5 logo_hotelfraction">FORM</div>
              </div>
              <div class="row page_login">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="form_email">Email<span>*</span></label>
                    <input
                      id="form_email"
                      type="text"
                      name="name"
                      class="form-control"
                      disabled
                      required="required"
                      data-error="Firstname is required."
                    />
                    <div class="help-block with-errors"></div>
                  </div>
                </div>

                
              </div>
            </div>
          
        </div>
      </div>
      <div class="bg_saprate">askdhka</div>
      <div></div>
    </div>
  </body>
</html>
